@model IEnumerable<Student.Models.Student>

@{
    ViewData["Title"] = "StudentInCourse";
}

<h1>StudentInCourse</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
